.screenContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  background-color: #0c0c0c;
  padding-top: 44px;
}

.numberContainer {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsContainer {
  width: calc(100%);
  height: 70%;
  display: grid;
  grid-template-columns: repeat(3, 72px);
  grid-template-rows: repeat(5, 72px);
  justify-content: center;
  gap: 18px;
  place-items: center;
}

.button {
  width: 72px;
  height: 72px;
  font-size: 36px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: 0.25s;
}

.button:active {
  transform: scale(1.2);
  opacity: 0.8;
}

.phoneButton {
  background-color: #0a84ff;
  color: #fff;
  grid-column: 2 / 3;
}

.backspaceButton {
  background-color: transparent;
  grid-column: 3 / 3;
}
