.appCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-size: 24px;
  background-color: #0c0c0c;
}

.numberContainer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsContainer {
  width: calc(100% - 40px);
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
  gap: 0px;
  place-items: center;
}

.button {
  width: 75px;
  height: 75px;
  font-size: 36px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: 0.25s;
}

.button:active {
  opacity: 0.9;
  transform: scale(0.95);
}

.phoneButton {
  background-color: #0a84ff;
  color: #fff;
  grid-column: 2 / 3;
}

.backspaceButton {
  background-color: transparent;
  grid-column: 3 / 3;
}
