.swipeLine {
  width: 134px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2.5px;
  margin: 8px auto 0 auto;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}
