.phone {
  width: 320px;
  height: 690px;
  padding: 6px;
  background: #000;
  border-radius: 32px;
  box-shadow:
    0 0 0 4px #333,
    0 20px 40px rgba(0, 0, 0, 0.5);
  position: relative;
}

.lockedButton {
  width: 2px;
  height: 80px;
  background: #555;
  position: absolute;
  right: -6px;
  top: 100px;
  transition: 0.2s;
  border-radius: 0px 2px 2px 0px;
  cursor: pointer;
}

.lockedButton:hover {
  width: 6px;
  right: -10px;
}

.lockedButton:active {
  width: 4px;
  right: -8px;
}

.screen {
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 26px;
  overflow: hidden;
  z-index: 3;
  position: relative;
}

.cutout {
  position: absolute;
  top: 16px;
  left: 16px;

  width: 24px;
  height: 24px;

  background: #000;
  border-radius: 14px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.camera {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #1a1a1a;
}
