.screen {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.homeWrapper {
  position: absolute;
  inset: 0;
  z-index: 6;
}

.lockWrapper {
  position: absolute;
  inset: 0;
  z-index: 10;
  touch-action: none;
  user-select: none;
}

.blurLayer {
  position: absolute;
  inset: 0;
  z-index: 5;
  pointer-events: none;
}
