.lockscreen {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.time {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff69;
  font-size: 100px;
}

.date {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff69;
  font-size: 20px;
}

.unlockHint {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff50;
  font-size: 18px;
  animation: blink 4s infinite;
}

@keyframes blink {
  0% {
    bottom: 20px;
    color: #ffffff50;
  }
  10% {
    bottom: 40px;
    color: #ffffff;
  }
  20% {
    bottom: 20px;
    color: #ffffff50;
  }
  30% {
    bottom: 40px;
    color: #ffffff;
  }
  40% {
    bottom: 20px;
  }
  100% {
    bottom: 20px;
  }
}
