.lockscreen {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  color: #ffffff69;
  font-size: 100px;
  height: 120px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.date {
  color: #ffffff69;
  font-size: 20px;
}

.unlockHint {
  position: absolute;
  color: #ffffff50;
  font-size: 18px;
  animation: blink 4s infinite;
}

@keyframes blink {
  0% {
    bottom: 40px;
    color: #ffffff50;
  }
  10% {
    bottom: 60px;
    color: #ffffff;
  }
  20% {
    bottom: 40px;
    color: #ffffff50;
  }
  30% {
    bottom: 60px;
    color: #ffffff;
  }
  40% {
    bottom: 40px;
  }
  100% {
    bottom: 40px;
  }
}
