.batteryCont {
  width: 24px;
  height: 14px;
  background: #ffffff2c;
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
  user-select: none;
}

.batteryContInside {
  width: 100%;
  height: 14px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.batteryContFill {
  width: 100%;
  height: 14px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.batteryContFillRed {
  background: #800a0a;
}

.batteryContFillGreen {
  background: #068a46;
}

.batteryCont:after {
  content: "";
  display: block;
  width: 2px;
  height: 6px;
  border-radius: 0px 2px 2px 0px;
  background: #ffffff2c;
  position: absolute;
  right: -2px;
  top: 4px;
}

.batteryWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-weight: bold;
  pointer-events: none;
}
