.bottomNavigation {
  position: absolute;
  bottom: 28px;
  width: calc(100% - 40px);
  height: 56px;
  padding: 4px;
  border-radius: 28px;
  display: flex;
  gap: 4px;
}

.activeIndicator {
  position: absolute;
  top: 4px;
  left: 4px;
  height: calc(100% - 8px);
  border-radius: 24px;
  background-color: #0a84ff33;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
}

.navItem {
  position: relative;
  z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: #fff;
  gap: 4px;
  font-size: 8px;
  border-radius: 24px;
  transition: 0.4s;
}

.hovered {
  transform: scale(1.3);
}

.active {
  color: #0a84ff;
}
