.appCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  user-select: none;
}

.appIcon {
  width: 60px;
  height: 60px;
  border-radius: 16px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px #000;
  transition: 0.25s;
}

.appIcon:active {
  transform: scale(0.95);
}

.appTitle {
  font-size: 10px;
  text-shadow: 0px 0px 4px #000;
}
