.background {
  position: relative;
  top: -40px;
}
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.clock {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.clockFace {
  border-radius: 50%;
  background: #fff;
  position: relative;
  height: 48px;
  width: 48px;
  border: 1px #000 solid;
}

.clockFace:after {
  background: #fff;
  border: 2px #000 solid;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
  box-sizing: border-box;
}

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2%;
  border-radius: 5px;
}

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
  border-radius: 5px;
}

.seconds {
  background: #e62d2d;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
  transition: 1s linear;
  border-radius: 5px;
}
